{% extends "template.html.twig" %}

{% block navbar_right %}
    <div>Bonjour {{ app.user.getFirstname() }}</div>
    <a href="{{ path('user.edit') }}" class="btn btn-primary ml-3">Modifier mon compte</a>
    <a href="{{ path('logout') }}" class="btn btn-secondary ml-3">Déconnexion</a>
{% endblock %}

{% block content%}
    <div class="container mt-4">
        <h3 class="mb-4 mt-5">{% block page_title %}{% endblock %}</h3>

        {% if app.user.getNbrCanceledTrip() < 3 %}
            {% block section %}
            {% endblock %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                Votre compte a été désactivé, veuillez entrer en contact avec un responssable.
            </div>
        {% endif %}
    </div>
{% endblock %}