{% extends "template.html.twig" %}

{% block navbar_right %}
    <div>Bonjour {{ app.user.getFirstname() }}</div>
    <a href="{{ path('user.edit') }}" class="btn btn-primary ml-3">Modifier mon compte</a>
    <a href="{{ path('logout') }}" class="btn btn-secondary ml-3">Déconnexion</a>
{% endblock %}

{% block content%}

    <h4 class="h4">{% block page_title %}{% endblock %}</h4>

    {% block section %}
    {% endblock %}
{% endblock %}