{% extends "frontend/template.html.twig" %}


{% block title %}
    Derniers trajets {{ parent() }}
{% endblock %}

{%  block page_title %}
    Derniers trajets  &nbsp;
    <a href="{{ path('trip.search') }}"class="btn btn-outline-light"><i class="fas fa-search ml-4 mr-4"></i></a>
{% endblock %}

{% block section%}
    {% include "frontend/_list_the_trip.html.twig" %}
{% endblock %}