{% extends "template.html.twig" %}


{% block content%}

    <div class="container-fluid d-flex flex-row" style="background-image: url('{{ asset('resources/images/wallpaper_2.jpg') }}'); height: 350px; padding-left: 100px; padding-right: 100px; padding-top: 40px; background-size: cover; background-position: 0px -80px;";
            background-size: cover;">
        <div class="container">
            <h2 class="h2 text-light">{% block page_title %}{% endblock %}</h2>
        </div>
        {% if app.request.attributes.get('_route') == "trip.view" %}
            <div class="container p-4 m-0 ml-4 text-center align-self-start" style="width: 250px" >
            </div>
        {% endif %}
    </div>

    <div class="container-fluid d-flex justify-content-center" style="position: relative; top: -230px; padding-left: 100px; padding-right: 100px">
        <div class="container m-0 align-self-start">
            {% block before_section %}{% endblock %}


            {% if not hidde_trip_list is defined %}
                {% set hidde_trip_list = false %}
            {% endif %}

            {% if not hidde_trip_list %}
                <div class="jumbotron p-4" style="">

                        {% block section %}
                        {% endblock %}

                </div>
            {% endif %}
        </div>
        {% if app.request.attributes.get('_route') == "trip.view" %}
        <div class="container jumbotron p-4 m-0 ml-4 text-center align-self-start" style="width: 250px; min-height: 300px">
            {% block right_section %}
            {% endblock %}
        </div>
        {% endif %}
    </div>

    <style>
        body
        {
            background-image: url('{{ asset('resources/images/repeat.jpg') }}');
            background-size: 200px;
        }
    </style>

{% endblock %}